<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>軒崴影像查詢系統</h1>
  </div>

  <div data-role="content">
    <div class="error-message"><h1>驗證失敗</h1></div>
  </div>

</div>
