<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>設定</h1>
  </div>

  <div data-role="content">
    <form method="GET" action="<%= url_for :controller => :Settings, :action => :do_config %>">
      <div data-role="fieldcontain">
        <label for="ip" class="itemLabel">IP</label>
        <input type="text" id="ip" name="ip" value="<%= @ip %>" class="itemValue" />
      </div>
      <div data-role="fieldcontain">
        <label for="port" class="itemLabel">Port</label>
        <input type="text" id="port" name="port" value="<%= @port %>" class="itemValue" />
      </div>
      <input type="submit" value="OK"/>
    </form>
  </div>

</div>
