<div data-role="page">


  <div data-role="content">
    <ul data-role="listview">
      <% @elinks.each do |rec| %>       
        <div id="leftItem" class="regularButton"><%= link_to rec, action: "do_report", id: rec[0] %></div>
      <% end %>
    </ul>
  </div>

</div>
