<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>報告</h1>
  </div>

  <div data-role="content">
    <% if @report=='' %>
      尚未輸鍵報告
    <% else %>
      <%= @report %>
    <% end %>

    <form method="GET" action="<%= url_for :controller => :Settings, :action => :get_image_list, :query=>{:accno=>@accno} %>">
      <input type="submit" value="檢視影像"/>
    </form>
  </div>

</div>
