<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>軒崴影像查詢系統</h1>
  </div>

  <div data-role="content">
    <div class="success-message"><h1>成功</h1></div>
    <form method="GET" action="<%= url_for Rho::RhoConfig.start_path %>">
      <input type="submit" value="回首頁"/>
    </form>
  </div>

</div>
